; �Էֺ�;��ͷ������ע�ͣ�������                     
;																	                    
;																	                    
; �ļ����������ļ����֣�                              
; (1) Project Name,                                   
; (2) Software,                                       
; (3) CFG File,                                       
; �и��ļ���IfUsedΪ1����û�и��ļ�IfUsedΪ0          
[Project]                                             
Project Name = app                           
																											
[Lod]                                                 
IfUsed = 1                                            
Lod File =  C:/Users/hosse/OneDrive/Desktop/Geektori/hex/app/app_B2130.lod                                         
																											
[Cfp]                                                 
IfUsed = 0                                            
																											
																											
